.Company-container{
  margin: 16px;
  background: #f1f1f1;
  padding: 28px 14px 28px 14px;
  display: flex;
  flex-direction: row;
}

.Image-container {
  background: #f8f9fa;
  padding: 9px;
}

.Image {
  height: 60px;
  width: 60px;
}

.Text-container {
  margin-left: 15px;
}

.Company-name {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  letter-spacing: normal;
  fill: #666666;
}

.Position{
  font-size: 16px;
  line-height: 21px;
  text-align: start;
}

.Work-disc {
  font-size: 13px;
  line-height: 21px;
  text-align: start;
}
