
.GitHub-part {
  margin: 10px;
  text-align: center;
}

.GitHub-logo {
  height: 35px;
  width: 35px;
}

.Github-title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  font-size: 1.3rem;
}

.Commits {
  display: flex;
  flex-direction: column;
  text-align: center!important;
}

.Commit-container {
  padding: 12px;
  margin-top: 20px;
  border-top: 1px solid #e6ecf0;
}

.Time-repo {
  color: #4a4a4a;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
}
a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

