.Element-container{
  padding: 10px 14px 28px 14px;
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
  float: left;
}

.Image-container {
  margin-top: 5px;
  margin-left: 10px; 
}


.Image {
  height: 60px;
  width: 60px;
  border: 0.5px solid #e6ecf0;
  border-radius: 15px;
}

.Text-container {
  margin-left: 15px;
}

.element-heading {
  font-size: 14px;
  line-height: 21px;
  text-align: start;
  letter-spacing: normal;
  fill: #666666;
}

.element-subheading{
  font-size: 16px;
  line-height: 21px;
  text-align: start;
}

.element-discription {
  font-size: 13px;
  line-height: 21px;
  text-align: start;
}
